<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do Board</title>
    <link rel="stylesheet" href="styles/board.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- Navigation bar with dark theme  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">To Do List</a>
        <!-- Menu List -->
        <!-- Set the class to active so that it highlights and lets the user know what page they are on -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li> -->

                <form class="form-inline my-2 my-lg-0 mr-sm-0, my-sm-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Search</button>
                </form>
            </ul>
        </div>
    </nav>

  <!-- <div>
      <label for="title" class="col-sm-2 control-label">Task Title:</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="Enter a Title">
  </div>
  <div>
      <label for="content">Task Description:</label>
      <input type="text" class="form-control" name="content" id="content" placeholder="Enter on Text Description">
  </div>

  <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-lg btn-info btn-block" style="margin-top: 20px">Add Task</button>
  </div> -->
  
    <!-- <div class="ui">
        <div id="table" class="table-editable">
            <table class="table">
                <tr>
                    <th>Task</th>
                    <th>Desctiption</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td contenteditable="true">S</td>
                        <td contenteditable="true">s</td>
                        <td>

                        </td>

                </tr>  -->


   
    <!-- <div class="list">
                        <header>List header</header>
                        <ul>
                            <li>do this</li>
                            <li>milk</li>
                            <li>bread</li>
                            <li>eggs</li>
                        </ul>
                        <footer>Add a card...</footer>
                    </div> -->

    </div>

    </div>
    </div>
</body>

</html>