{% extends "template.html" %} {% block content %}
<div class="col-md-12 mb-4 text-black text-center">
  <h1 class="text-centre">Login</h1>
  <p>Login to your account to continue</p>
</div>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<form action="/login" method="post">

  <div class="login-form">
      <label for="username" class="col-sm-2 control-label text-black">Username:</label>
      <div class="col-sm-10">
        <input name="username" type="text" class="form-control" id="inputFirst" placeholder="Username" required>
      </div>
    </div>
 
  <div class="login-form">
    <label for="inputPassword" class="col-sm-2 control-label text-black">Password:</label>
    <div class="col-sm-10">
      <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
    </div>
  </div>
  <div class="login-form">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-lg btn-info btn-block" style="margin-top: 20px">Login</button>
    </div>

<!-- This links to the signup page if people do not have an account to login -->
    <div href="../signup"class="form-footer text-black" style="margin-left: 20px">
      Don't have an account?
      <a href="../signup">Sign Up now!</a></div>
  </div>
  </div>
</form>
{% endblock %}