{% extends "template.html" %} {% block content %}
<!-- Template.html loaded for the features that are used on index, signup and login to save loading in the same items  -->

<!-- Main header and subheader and the positing -->
<div class="col-md-12 mb-4 text-black text-center">
  <h1 class="text-centre">Sign Up</h1>
  <p>Sign up to create an account and start yout To Do List</p>
</div>


<!-- Sign up form for new users -->
<!-- Made the fields required so that users have to fill in all of their details to successfully create a login -->
<div class="signup-form">
  <div>
    <form action="/signup" method="POST" class="signup-form">
      <div class="signup-form">
        <label for="firstName" class="col-sm-2 control-label text-black">First Name:</label>
        <div class="col-sm-10">
          <input name="firstname" type="text" class="form-control" id="inputFirst" placeholder="First Name" required>
        </div>
      </div>

      <div class="signup-form">
        <label for="surname" class="col-sm-2 control-label text-black">Surname:</label>
        <div class="col-sm-10">
          <input name="surname" type="text" class="form-control" id="inputSurname" placeholder="Surname" required>
        </div>
      </div>

      <div class="signup-form">
        <label for="username" class="col-sm-2 control-label text-black">Username:</label>
        <div class="col-sm-10">
          <input name="username" type="text" class="form-control" id="inputFirst" placeholder="Username" required>
        </div>
      </div>

      <div class="signup-form">
        <label for="email" class="col-sm-2 control-label text-black">Email:</label>
        <div class="col-sm-10">
          <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
        </div>
      </div>
      </a>

      <div class="signup-form">
        <label for="password" class="col-sm-2 control-label text-black">Password:</label>
        <div class="col-sm-10">
          <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
        </div>
      </div>

      <div class="signup-form">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-lg btn-info btn-block" style="margin-top: 20px">Sign Up</button>
        </div>
      </div>


      <!-- This links to the login page if users already have an account  -->
      <div class="form-footer text-black" style="margin-left: 20px">
        Already have an account?
        <a href="../login">Login now!</a>
      </div>
    </form>
  </div>
</div>

<!-- website used to understand classes https://www.w3schools.com/html/html_classes.asp -->
{% endblock %}