<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="/resources/styles/mobileindex.css">
    <link rel="stylesheet" href="/resources/bootstrap-4.1.3-dist/css/bootstrap.min.css">
</head>


<!-- Navigation bar with dark theme  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">To Do List</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menuPrincipal" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu List -->
    <!-- Set the class to active so that it highlights and lets the user know what page they are on -->
    <div class="collapse navbar-collapse" id="myNavBar">
        <ul class="nav navbar-nav">

            <li class="active">
                <a class="nav-link" href="../viewAll">View all Tasks</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../addtask">Add a Task</a>
            </li>
            <form class="form-inline" method="GET" action="/search">
                <input class="form-control mr-sm-4" type="search" placeholder="Search" name="search" id="search" aria-label="Search">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form action="/logout" method="GET" class="form-inline">
                <button class="btn btn-outline-light btn-info my-2 my-sm-0" href="../logout" style="margin-left: 20px" type="submit">Logout</button>
            </form>
    </div>
</nav>


<div class="row">
    <div class="col-md-12 mb-4 text-black text-center">

        <h1> View All Tasks</h1>
        <p> These are your tasks, to edit a task click on the Task Title.</p>

        <form id="ViewAll" action="/viewAll" method="GET"></form>
        <!-- Displaying tasks from the database -->

        <div class="row">
            {% for task in tasks %}
            <div id="taskTile">
                <div class="tile">
                    <div class="col-xs-12">
                        <a href="/task/{{ task.id }}">{{ task.title }}</a>
                    </div>
                    <div class="col-xs-12 text-black">
                        {{ task.content }}
                    </div>
                    <div class="col-xs-12 text-black">Priority: {{ task.priority }}
                    </div>

                    <div class="col-xs-12 text-black">Due Date: {{ task.date }}
                    </div>
                    <!-- Delete the task from the database -->
                    <form action="/deleteTask" method="POST">
                        <input type="hidden" name="taskId" value="{{task.id}}">
                        <button id="deleteButton" class="btn btn-light" type="submit('{{ task._id }}')">Delete Task
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script> src = "../js/routes.js"</script>

</html>