/* body, html {
    height: 100%;
  }
  .bg { */
    /* The image used */
    /* background-image: url("/Users/ejo01/Desktop/Language School/Assignment 2/To_Do_Website/images/achievement-agreement-arms-1068523.jpg");
   */
    /* Full height */
    /* height: 100%; */
  
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
  