
/* Makes the image full screen through .view */
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100hv;
  }
}

p{
  -webkit-text-fill-color: white;
  padding-left: 15px;
}